# Unity
Library/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Excluir carpetas 'examples'
**/examples/