# Unity
Library/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Excluir carpetas 'examples'
**/examples/

# Excluir carpetas 'samples'
**/samples/

scripts_list.txt

# Battle data dumps (debug only)
Assets/Debug/BattleDataDumps/
Assets/Debug/BattleDataDumps.meta
Assets/Debug/EntityDumps/
Assets/Debug/EntityDumps.meta

# TextMesh Pro
Assets/TextMesh Pro/Examples & Extras/
Assets/Travis Game Assets/

#graphify
graphify-out/
.graphify_uncached.txt

#antigravity
.agents

#Control
Issues/
.aider*
